<!doctype html>
<html lang="en" ng-app="testTask" ng-controller="testTaskCtrl">
  <head>
    <meta charset="utf-8">
    <title>Test task</title>
    
    <script src="lib/angular.min.js"></script>
    <script src="app/app.js"></script>
	
	<link rel="stylesheet" type="text/css" href="styles.css">

  </head>
  <body>

      <emails-editor info="emails"></emails-editor>
      <button ng-click="addEmails()" class="addEmail">Add email</button>
      <button ng-click="getEmailsCount()" class="countEmail">Get emails count</button>

  </body>
</html>