body, body input, body textarea{
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
	outline: none;
}

.header{
	font-size: 14pt;
	padding: 34px 0 16px;
}

emails-editor{
	background: #f5f5f5;
    display: block;
	padding: 0 40px;
}

ul{
	display: block;
    border-top: 1px solid #e6e6e6;
    list-style-type: none;
    padding: 5px 1px;
	background-color: #fff;	
	min-height: 88px;
}

li{
	display: inline-block;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 3px 11px;
	margin: 2px 4px;
}

li.tag-green {
  background-color: #d9e8ff;
}

li.tag-red span:first-child {
  border-bottom: 1px dashed red;
}

li span{
	font-size: 12px;
	font-weight: bold;
}

li.inputLi{
    margin: 0px 4px;
    padding: 0;
}

li.inputLi span{
	font-size: 12px;
}

li.inputLi input{
	padding: 4px 6px;
}

button{
	background: #6699ff;
	color: #fff;
	border: none;
	padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    cursor: pointer;
    margin: 30px 16px 0 0;
	min-width: 100px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}

button:hover{
	color: #fff;
    background: #5581d8;
}

.addEmail{
	margin-left: 40px;
}


.remove{
	background: url(img/arrow.png);
	width: 12px;
	height: 10px;
	display: inline-block;
}

